<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BIMOne.Navisworks2019.GroupClashes" version="1.0.0-CI-20180905-151640" targetFramework="net47" />
  <package id="BIMOne.Autodesk.Navisworks2019.Api" version="16.0.1326.55" targetFramework="net47" />
  <package id="BIMOne.Autodesk.Navisworks2019.Clash" version="16.0.1326.55" targetFramework="net47" />
</packages>