<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BIMOne.Navisworks2018.GroupClashes" version="1.1.0" targetFramework="net461" />
  <package id="BIMOne.Autodesk.Navisworks2018.Api" version="15.0.1314.36" targetFramework="net461" />
  <package id="BIMOne.Autodesk.Navisworks2018.Clash" version="15.0.1314.36" targetFramework="net461" />
</packages>